DOCKERFILE=dev.dockerfile

API_PORT=3003

POSTGRES_USER=admin
POSTGRES_PASSWORD=toto
POSTGRES_DB=annuel
POSTGRES_PORT=5432

DATABASE_URL=postgresql://admin:toto@127.0.0.1:5432/annuel

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5051
