API_KEY=test
API_PORT=3003

JWT_SECRET=token
JWT_REFRESH_SECRET=refresh_token

PEPPER_SECRET=MonPoivreSuperSecret123!

DATABASE_URL=postgresql://admin:toto@127.0.0.1:5432/annuel

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=support.animal@gmail.com
SMTP_PASSWORD=mbmankqqsbtftrgu

ADMIN_EMAIL=admin@example.com

GITHUB_CLIENT_ID=your_github_oauth_app_client_id
GITHUB_CLIENT_SECRET=your_github_oauth_app_client_secret

CORS_ORIGIN=http://localhost:3000