API_KEY=test

JWT_SECRET=token
JWT_REFRESH_SECRET=refresh_token

PEPPER_SECRET=MonPoivreSuperSecret123!

DATABASE_URL=postgresql://admin:toto@127.0.0.1:5432/annuel

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tonapp@gmail.com
SMTP_PASSWORD=ton-app-password
DOMAIN=gmail.com

ADMIN_EMAIL=admin@example.com